body{
  background-color: #E5E5E5;
}
.topnav{
  padding-right: 20px;
}
.btn-primary{
  margin-right: 10px;
}
.footer{
  position: fixed;
}
.login{
  padding-right: 10px;
}
.container{
  background-color: white;
  width : 400px;
  margin-top: 15% ;
}
footer{
  background-color: white;
}
