<div class="footer">
<a href="default.asp" target="_blank" class="ft-main">Github</a>| <a href="default.asp" target="_blank" class="ft-main">Facebook</a>| <a href="default.asp" target="_blank" class="ft-main">linkedin</a>
</div 