<footer class=" mt-auto py-3 border-top fixed-bottom">
  <div class="row">
    <div class="col-6 col-md">
    </div>
      <div class="col-md">
        <a class="text-muted" href="#">Git hub</a>     
      </div>
      <div class="col-md">
        <a class="text-muted" href="#">Facebook</a>
      </div>
      <div class="col-md">
        <a class="text-muted" href="#">Linkedin</a>
      </div>
  </div>
</footer>