<div class="d-flex flex-md-row align-items-center p-2 px-md-1 mb-3 bg-white border-bottom header-main">
  <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
  <div class="masthead ">
    <div class="topnav">
      <a class="active" href="#">Home</a>
    </div>
  </div>
  <button type="button" class="btn button-sr" >Sign up</button>
  <div class="topnav">
    <a href="#">Login</a>
  </div>
</div>
