<div class="d-flex flex-md-row align-items-center p-2 px-md-1 mb-3 bg-white border-bottom header-main">
  <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
  <div class="masthead ">
    <div class="topnav">
      <%= link_to "Home", root_path %>
    </div>
  </div>
  <div class="topnav">
    <%= link_to "Login", new_user_session_path %>
  </div>
  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary" %>
</div>

