<div class="d-flex flex-md-row align-items-center p-2 px-md-1 mb-3 bg-white border-bottom header-main">
  <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
  <div class="masthead ">
    <div class="topnav">
      <%= link_to "Home", root_path %>
    </div>
  </div>
    <div class="topnav">
      <a  href="#">My Stories</a>     
    </div>
  <%= link_to "New Story", "#", class: "btn btn-primary" %>
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_user.email %>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</div>
